.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1em;
  row-gap: 1em;
  padding: 1em;
  max-width: fit-content;
  margin: 0 auto;
}

.ac {
  background-color: #801111;
  height: 10vh;
  width: 10vh;
  color: #fffbfb;
  border: 2px solid #ec5555;
  font-size: 18pt;
  text-align: center;
}

.historic {
  justify-items: flex-start;
  font-size: 18pt;
}

.wrapper > button {
  height: 10vh;
  width: 10vh;
  color: #046d30;
  background-color: #67e78d;
  border: 2px solid #4d755f;
  font-size: 20pt;
  text-align: center;
}

.operator {
  background-color: #a8dabe;
  height: 10vh;
  width: 10vh;
  color: #173d27;
  border: 2px solid #4d755f;
  font-size: 30pt;
  text-align: center;
}

.operator-egual {
  background-color: #1a3a26;
  height: 10vh;
  width: 10vh;
  color: #a7e4c0;
  border: 2px solid #4d755f;
  font-size: 30pt;
  text-align: center;
}

.view-result {
  width: 19rem;
  height: 8rem;
  background-color: #a8dabe;
  font-size: 50pt;
  margin: 0 auto 0.2em auto;
  display: flexbox;
  justify-items: flex-start;
  padding: 0 4px;
  max-width: 35rem;
}

.bckp {
  height: 20pt;
}

.historic-field {
  position: relative;
  float: left;
  width: 18rem;
  height: 33rem;
  border-radius: 12px;
  padding: 0.4rem;
  justify-items: flex-start;
  background-color: #a8dabe;
  align-items: start;
  justify-content: space-around;
}

.cabecaho > h2 {
  margin-left: 1rem;
  text-decoration: underline;
  color: #1a3a26;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.cabecaho {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.limpar {
  display: flex;
  background-color: #28a85d;
  border: none;
  color: aliceblue;
  cursor: pointer;
  margin-left: 7rem;
  padding: 1vh;
  border-radius: 0.25rem;
}

#list-historic {
  height: 25rem;
  width: 15rem;
  overflow-y: auto;
  overflow-x: hidden;
  list-style: none;
  scroll-behavior: smooth;
  white-space: nowrap;
}

#list-historic li {
  margin: 0 0 0.5rem 1rem;
  position: relative;
  padding: 10px 0;
}

#list-historic li:not(:first-child)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 300%;
  height: 1px;
  background-color: #2c7429;
}

#list-historic li:first-child {
  font-weight: bold;
  font-size: 14pt;
}

.view {
  padding-left: 2rem;
  position: relative;
  float: left;
}
body {
  padding: 2rem;
}
