.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1em;
  row-gap: 1em;
  padding: 1em;
  max-width: fit-content;
  margin: 0 auto;
}

.wrapper > button {
  height: 20vh;
  width: 20vh;
  color: #046d30;
  background-color: #67e78d;
  border: 2px solid #4d755f;
  font-size: 35pt;
  text-align: center;
}

.operator {
  background-color: #a8dabe;
  height: 20vh;
  width: 20vh;
  color: #173d27;
  border: 2px solid #4d755f;
  font-size: 50pt;
  text-align: center;
}

.operator-egual {
  background-color: #1a3a26;
  height: 20vh;
  width: 20vh;
  color: #a7e4c0;
  border: 2px solid #4d755f;
  font-size: 50pt;
  text-align: center;
}

.view-result {
  width: 35rem;
  height: 10rem;
  background-color: #a8dabe;
  font-size: 50pt;
  margin: 0 auto 0.2em auto;
  display: flex;
  justify-items: flex-end;
  align-items: flex-end;
  padding: 0 4px;
  max-width: 35rem;
}

