.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1em;
  row-gap: 1em;
  padding: 1em;
  max-width: fit-content;
  margin: 0 auto;
}

.ac {
   background-color: #801111;
  height: 10vh;
  width: 10vh;
  color: #fffbfb;
  border: 2px solid #ec5555;
  font-size: 18pt;
  text-align: center;
}

.historic {
  justify-items: flex-start;
  font-size: 18pt;
}

.wrapper > button {
  height: 10vh;
  width: 10vh;
  color: #046d30;
  background-color: #67e78d;
  border: 2px solid #4d755f;
  font-size: 20pt;
  text-align: center;
}

.operator {
  background-color: #a8dabe;
  height: 10vh;
  width: 10vh;
  color: #173d27;
  border: 2px solid #4d755f;
  font-size: 30pt;
  text-align: center;
}

.operator-egual {
  background-color: #1a3a26;
  height: 10vh;
  width: 10vh;
  color: #a7e4c0;
  border: 2px solid #4d755f;
  font-size: 30pt;
  text-align: center;
}

.view-result {
  width: 19rem;
  height: 8rem;
  background-color: #a8dabe;
  font-size: 50pt;
  margin: 0 auto 0.2em auto;
  display: flexbox;
  justify-items: flex-start;
  padding: 0 4px;
  max-width: 35rem;
}

.bckp {
  height: 20pt;
}
